.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #90BCC9;
}
.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}
.table-view .cell{
    -fx-text-fill: black;
    -fx-background-color: #e7e1e1;
    -fx-alignment: CENTER;
}

.table-row-cell:selected {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}
.scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -7;
}